body{
	display: flex;
	background: linear-gradient(lightgrey,lightgrey);
	justify-content: center;
}
#clock{
	width: 30rem;
	background-color: white;
	height:  30rem;
	border:15px solid black;
	box-shadow: inset 0px 0px 10px 10px grey;
	border-radius: 50%;
	background: url("clock.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
#second{
	border:1px solid red;
	width: 1px;
	height: 30%;
	position: absolute;
	top:20%;
	left: 50%;
	transition: all;
	transition-timing-function: linear;
	transform-origin: 50% 100%;
	box-sizing: border-box;
}
#minute{
	border:3px solid grey;
	width: 1px;
	height: 35%;
	position: absolute;
	top:15%;
	left: 50%;
	transition: all;
	
	transform-origin: 50% 100%;
	box-sizing: border-box;
}
#hour{
	border:6px solid black;
	width: 1px;
	height: 25%;
	position: absolute;
	top:25%;
	left: 50%;
	transition: all;
	transition-timing-function: linear;
	transform-origin: 50% 100%;
	box-sizing: border-box;
}
#center{
	position: absolute;
	border:10px solid black;
	border-radius: 50%;
	top:49.5%;
	left: 49.5%;
}
